.tableBody{
    display: flex;
    align-items: center;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;
    overflow-y: scroll;

    &>*:nth-child(even){
        background-color:darken(#fff,2%);
    }
}

:host{
    flex-grow: 1;
    overflow: scroll;
    position:relative;
}